.description {
    padding: 5px 0px 12px 12px;
    background-color: #def6dee6;
}

.description code {
    padding: 2px 4px;
    font-size: 85%;
    background-color: #e4e4e4;
    border-radius: 3px;
}

#copyPreviewLink {
    color: white;
    border-radius: 4px;
    text-shadow: none;
    background: #2eb772;
    margin: 0 0 0 5px;
    line-height: 15px;
    padding: 5px 7px;
    cursor: pointer;
    border: none;

}

tr.variable input.smalltext {
    width: 500px;
    border: 1px solid rgb(204, 204, 204);
    display: block;
}

tr.variable img {
    float: left;
}

tr.variable small {
    display: block;
    clear: both;
}

td.field-description .vLargeTextField {
    width: 60em;
    height: 3em;
}
