#copyPreviewLink {
    color: white;
    border-radius: 4px;
    text-shadow: none;
    background: #2eb772;
    margin: 0 0 0 5px;
    line-height: 15px;
    padding: 5px 7px;
    cursor: pointer;
    border: none;

}

tr.variable input.smalltext {
    width: 500px;
    border: 1px solid rgb(204, 204, 204);
    display: block;
}

tr.variable img {
    float: left;
}

tr.variable small {
    display: block;
    clear: both;
}

td.field-description .vLargeTextField {
    width: 60em;
    height: 3em;
}

/* Make <input> Text and URLFields larger. */
.vTextField, .vURLField {
    width: 80%;
}

/* Do not allow adding, editing or deleting locales from the ASRSnippet admin to */
/* avoid breaking the auto-localization feature */

#change_id_locale, #add_id_locale, #delete_id_locale {
    display: none;
}

#snippet_status.published {
    font-weight: bold;
    color: #2eb772;
}

#snippet_status.scheduled {
    font-weight: bold;
    color: orange;
}

#addJobButton {
    color: white;
    border-radius: 4px;
    text-shadow: none;
    background: #2eb772;
    margin: 0 0 0 5px;
    line-height: 15px;
    padding: 5px 7px;
    cursor: pointer;
    border: none;
}
