.description {
    padding: 5px 0px 12px 12px;
    background-color: #def6dee6;
}

.description code {
    padding: 2px 4px;
    font-size: 85%;
    background-color: #e4e4e4;
    border-radius: 3px;
}

#copyPreviewLink {
    color: white;
    border-radius: 4px;
    text-shadow: none;
    background: #2eb772;
    margin: 0 0 0 5px;
    line-height: 15px;
    padding: 5px 7px;
    cursor: pointer;
    border: none;

}
