#change_id_snippet, #add_id_snippet, #delete_id_snippet {
    display: none;
}


input[name="_schedule"] {
    background: green;
}

input[name="_cancel"] {
    background: #a41515;
}

#job_status.published {
    font-weight: bold;
    color: #2eb772;
}

#job_status.scheduled {
    font-weight: bold;
    color: orange;
}

.ratio-green {
    color: green;
}

.ratio-red {
    color: #a41515;
}

#result_list .column-metric_impressions_humanized,
#result_list .column-metric_clicks_humanized,
#result_list .column-metric_blocks_humanized {
    text-align: right;
}

#result_list .field-metric_impressions_humanized,
#result_list .field-metric_clicks_humanized,
#result_list .field-metric_blocks_humanized {
    text-align: right;
}

#result_list .column-metric_clicks_ctr,
#result_list .column-metric_blocks_ctr,
#result_list .field-metric_clicks_ctr,
#result_list .field-metric_blocks_ctr {
    text-align: left;
}
