.form-row.field-country {
    border-bottom-width: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form-row.field-country.visible {
    border-bottom-width: 1px;
    clip: unset;
    height: auto;
    margin: auto;
    padding: inherit;
    position: relative;
    width: auto;
}
