{% macro pagination(page, pagination_range, path) %}
  {% if page.paginator.num_pages > 1 %}
    <div class="row text-center">
      <div class="pagination">
        <ul>
          <li><a href="{{ path|urlparams(page=1) }}">First</a></li>
          {% if page.has_previous() %}
            <li><a href="{{ path|urlparams(page=page.previous_page_number()) }}">«</a></li>
          {% else %}
            <li class="disabled"><a href="#">«</a></li>
          {% endif %}


          {% if pagination_range and pagination_range[0] != 1 %}
            <li class="disabled"><a href="#">...</a></li>
          {% endif %}

          {% for number in pagination_range %}
            <li {% if page.number == number %}class="active"{% endif %}>
              <a href="{{ path|urlparams(page=number) }}">{{ number }}</a>
            </li>
          {% endfor %}

          {% if (pagination_range and
                 pagination_range[-1] != page.paginator.num_pages) %}
            <li class="disabled"><a href="#">...</a></li>
          {% endif %}

          {% if page.has_next() %}
            <li><a href="{{ path|urlparams(page=page.next_page_number()) }}">»</a></li>
          {% else %}
            <li class="disabled"><a href="#">»</a></li>
          {% endif %}
          <li>
            <a href="{{ path|urlparams(page=page.paginator.num_pages) }}">
              Last
            </a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}
