#snippets-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: var(--newtab-snippets-background-color, white);
    font-size: 13px;
    min-height: 60px;
    padding-inline-end: 36px;
    box-shadow: 0 -1px 4px 0 rgba(12, 12, 13, 0.1);
    border-top: solid 1px var(--newtab-snippets-hairline-color, transparent);
}

@media (min-width: 766px) {
  #snippets-container {
    padding-inline-end: 12px;
  }
}

#snippets-container a {
  color: var(--newtab-link-primary-color);
}

.dark-theme #snippets-container a {
  font-weight: bold;
}

#snippets {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#snippets > div {
    max-width: 736px;
}

.snippet .block-snippet-button {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    height: 12px;
    width: 12px;
    padding: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSJjb250ZXh0LWZpbGwiIGQ9Ik05LjQxNCA4bDMuNTMxLTMuNTMxYTEgMSAwIDEgMC0xLjQxNC0xLjQxNEw4IDYuNTg2IDQuNDY5IDMuMDU1YTEgMSAwIDEgMC0xLjQxNCAxLjQxNEw2LjU4NiA4bC0zLjUzMSAzLjUzMWExIDEgMCAxIDAgMS40MTQgMS40MTRMOCA5LjQxNGwzLjUzMSAzLjUzMWExIDEgMCAxIDAgMS40MTQtMS40MTR6Ii8+PC9zdmc+");
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-color: transparent;
    padding: 2px;
    box-sizing: content-box;
    border: 0;
    cursor: pointer;
    offset-inline-end: 12px;
    inset-inline-end: 12px;
    display: none;
}

.dark-theme .snippet .block-snippet-button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjRjlGOUZBIiBkPSJNOS40MTQgOGwzLjUzMS0zLjUzMWExIDEgMCAxIDAtMS40MTQtMS40MTRMOCA2LjU4NiA0LjQ2OSAzLjA1NWExIDEgMCAxIDAtMS40MTQgMS40MTRMNi41ODYgOGwtMy41MzEgMy41MzFhMSAxIDAgMSAwIDEuNDE0IDEuNDE0TDggOS40MTRsMy41MzEgMy41MzFhMSAxIDAgMSAwIDEuNDE0LTEuNDE0eiIvPjwvc3ZnPg==");
  opacity: 0.8;
}

#snippets-container:hover .snippet .block-snippet-button {
    display: block;
}

@media (min-width: 766px) {
  .snippet .block-snippet-button {
    offset-inline-end: 24px;
    inset-inline-end: 24px;
  }
}
