#snippets-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: var(--newtab-snippets-background-color, white);
    font-size: 13px;
    min-height: 60px;
    padding-inline-end: 36px;
    box-shadow: 0 -1px 4px 0 rgba(12, 12, 13, 0.1);
    border-top: solid 1px var(--newtab-snippets-hairline-color, transparent);
}

@media (min-width: 766px) {
  #snippets-container {
    padding-inline-end: 12px;
  }
}

#snippets-container a {
  color: var(--newtab-link-primary-color);
}

.dark-theme #snippets-container a {
  font-weight: bold;
}

#snippets {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#snippets > div {
    max-width: 736px;
}

.snippet .block-snippet-button {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    height: 12px;
    width: 12px;
    padding: 0;
    background-image: url("resource://activity-stream/data/content/assets/glyph-dismiss-16.svg");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center;
    background-color: transparent;
    padding: 2px;
    box-sizing: content-box;
    border: 0;
    cursor: pointer;
    offset-inline-end: 12px;
    display: none;
    -moz-context-properties: fill;
    fill: var(--newtab-icon-primary-color, rgba(0,0,0,0.6));
}

#snippets-container:hover .snippet .block-snippet-button {
    display: block;
}

@media (min-width: 766px) {
  .snippet .block-snippet-button {
    offset-inline-end: 24px;
  }
}
