[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-mozilla-product-details"]
	path = vendor-local/src/django-mozilla-product-details
	url = git://github.com/fwenzel/django-mozilla-product-details.git
