<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  {% for variable in variables %}
    <tr class="variable" data-variable="{{ variable.name }}" data-type="{{ variable.type }}">
      <td class="variable-name">{{ variable.name }}</td>
      <td>
        {% if variable.type == types.text or variable.type == types.body or variable.type == types.rich_text %}
          <textarea>{{ originalData[variable.name] }}</textarea>
        {% elif variable.type == types.image %}

          <img src="{{ originalData[variable.name] }}" {% if originalData[variable.name] == "" %} style="display:none;" {% endif %}>
          <input type="file" class="image-input">
          <a href="#" class="image-input-remove" style="padding-left: 5px">Remove image</a>
          <div class='fileSize'></div>
        {% elif variable.type == types.smalltext %}
          <input class="smalltext" value="{{ originalData[variable.name] }}">
        {% elif variable.type == types.checkbox %}
          <input type="checkbox" {{ 'checked' if originalData[variable.name] else '' }}>
        {% endif %}
        {% if variable.description %}
          <small style="background-color: rgb(245, 245, 245); padding: 2px 5px;">{{ variable.description }}</small>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
