<style type="text/css">
  {% include 'base/includes/snippet_as.css' %}
</style>
<script type="application/javascript">
{#
 The date variable gets populated when we calculate the template hash for caching
 and gets the default utcnow() time otherwise.
#}
 // Generated on {{ date|default(utcnow()) }}
 // Included snippets:
 {% for id in snippet_ids %}
 //  - {{ id }}
 {% endfor %}
 var ABOUTHOME_SNIPPETS = JSON.parse("{{ snippets_json|escapejs|safe }}");
 var CURRENT_RELEASE = {{ current_firefox_major_version }};
 {% include 'base/includes/snippet_as.js' %}
</script>
