{# Activity stream payload #}
<script type="text/javascript">
 //<![CDATA[
 // Generated on {{ utcnow() }}
 // Included snippets:
     {% for id in snippet_ids %}
 //  - {{ id }}
     {% endfor %}
 //]]>
</script>
