{% extends 'base/base.jinja' %}
{% block headextras %}
  <style>
   #heart {
       color: Orange;
   }
  </style>
{% endblock %}
{% block content %}
  <p>
    made with <span id="heart">❤</span> by Mozilla Marketing and Operations Team<br/>
    run by Mozilla Own Media Network Team.
  </p>
  <p>
    Looking for a <a href="{{ url('base.list_jobs') }}">list of currently published Jobs</a>? Or maybe the <a href="/admin">Admin Panel</a>?
  </p>
{% endblock %}
