<html>
  <head>
    <title>Mozilla Snippets Service</title>
    <style>
     body {
         background: linear-gradient(to right, #F27121, #E94057, #8A2387);
         font-family: "Arial";
         text-align: center;
         margin: 100px;
         color: WhiteSmoke;
     }
     #heart {
         color: Orange;
     }
    </style>
  </head>
  <body>
    <h1>Mozilla Snippets Service</h1>
    <p>
      made with <span id="heart">❤</span> by Mozilla Marketing and Operations Team<br/>
      run by Mozilla Lifecycle Marketing Team
    </p>
    <p>
      Looking for the <a href="/admin">Admin Panel</a>?
    </p>
  </body>
</html>
