{% extends 'base/base.jinja' %}
{% block headextras %}
  <style>
   #heart {
       color: Orange;
   }
  </style>
{% endblock %}
{% block content %}
  <p>
    Slow down, you 're browsing this site too fast! Try again in a few minutes.
  </p>
{% endblock %}
