<ul id="snippets-list">
  {%- for id, name in snippets -%}
    <li><a href="{{ url('admin:base_asrsnippet_change', id) }}">{{ id }} - {{ name }}</a></li>
  {%- else -%}
    <li>No snippets using this file.</li>
  {%- endfor -%}
</ul>
