{% extends 'base/base.jinja' %}
{% block headextras %}
  <style>
   #heart {
       color: Orange;
   }
  </style>
{% endblock %}
{% block content %}
  <p>
    This view will be back shortly.
  </p>
{% endblock %}
