tr.variable input.smalltext {
    width: 500px;
    border: 1px solid rgb(204, 204, 204);
    display: block;
}

tr.variable img {
    float: left;
}

tr.variable small {
    display: block;
    clear: both;
}

td.field-description .vLargeTextField {
    width: 60em;
    height: 3em;
}

.object-tools [data-tool-name="publish_object"] a {
    background: green;
}

.object-tools [data-tool-name="unpublish_object"] a {
    background: #a41515;
}
