body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.snippet-list {
    padding-top: 10px;
}

.json-snippet-table th:first-child,
.json-snippet-table td:first-child,
.snippet-table th:first-child,
.snippet-table td:first-child {
    width: 20%;
}

.json-snippet-table td {
    vertical-align: middle;
}

select {
    width: 100%;
}
